doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/assets/libs/bootstrap/dist/css/bootstrap.css')
  body
    block content

    script(src='/assets/libs/bootstrap/dist/js/bootstrap.js')
